@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
:root {
  --primary-text-color: black;
  --secondary-text-color: #af7a6d;

  --header-background-color: #cbff4d;
  --wrapper-background-color: #84dd63;
  --footer-background-color: #6baa75;

  --primary-font: "Roboto Slab", serif;
  --secondary-font: "Roboto", sans-serif;
}

.header {
  height: 10vh;
  border-radius: 15px;
  background-color: var(--header-background-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* padding: 10px; */
}
.header > * {
  font-size: 22px;
  margin: 10px;
  align-items: center;
  color: var(--primary-text-color);
}

.wrapper {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.wrapper > * {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  color: var(--primary-text-color);
  background-color: var(--wrapper-background-color);
  flex: 2;
}
.search {
  flex: 1;
  display: flex;
}
.search > * {
  flex: 2;
  align-items: center;
  max-height: 100px;

  /* justify-content: center; */
}

.search #heading {
  flex: 1;
  display: flex;
}
.contacts {
  display: flex;
  flex-direction: column;
}

.contacts #contacts-header {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.contact {
  margin: 10px;
  border: 3px dotted goldenrod;
  border-radius: 15px;
  display: flex;
}

.contact > * {
  flex: 2;
  margin: 8px;
}
.contact #contact-info {
  flex: 1;
  display: flex;
  font-family: var(--secondary-font);
}
.contact #contact-info > * {
  margin: 5px;
}

.footer {
  border-radius: 15px;
  padding: 5px;
  background-color: var(--footer-background-color);
}

#heading {
  font-family: var(--primary-font);
}

#subheading {
  font-family: var(--secondary-font);
}

#search-input {
  align-self: center;
  max-width: 500px;
}
#search-button {
  flex: 1;
  max-width: 100px;
  align-self: center;
}

#no-contacts {
  font-weight: bold;
  font-style: italic;
  align-self: center;
}

#new-contact {
  font-weight: bold;
  font-style: italic;
  align-self: center;
  font-weight: 100;
}
